In [8]:
a=-8
b=-1
c=8
if (all((a>0,b>0,c>0,a+b+c>12))):
    print("hey")
else:
    print("no")

if (any((a>0,b>0,c>0))):
    print("instead of multiple or")
else:
    print("can use this")

no
instead of multiple or

In [11]:
s=0
print("hey") if s==0 else print("yo")

hey

In [17]:
#nesting:
s=-23
p="first" if s==0 else "second" if s>0 else "third"
print(p)

third

In [27]:
a=9
if a>0:
    pass #if pass is not writen,if alone would give syntax error
else:
    print('j')

i=10
while i>0:
    if(i<=5):
        pass #here continue would give you infinite loop, but pass won'try
    #pass will only skip the 'if' part
    else:
        print(i)
    i-=1

10
9
8
7
6

In [31]:
i=7
while i<0:
    print(i,end=" ")
    i-=1
else:
    print(i)

7
0
1
2
3
4

In [34]:
for i in range(0,5,2):
    print(i)

0
2
4

In [35]:
s="python"
for j in enumerate(s):
 print(j)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [39]:
a=5
b=-3
print(a%b)

-1

In [44]:
s='zxcvbnm   hjkl   wer   dfgh   uiop'
print(s.split(sep='   ',maxsplit=2))

['zxcvbnm', 'hjkl', 'wer   dfgh   uiop']

In [46]:
a=1,7,5,'hey',True
a

y,u,i,o,p=a
print(y,u,i,o,p,end=" ")

1 7 5 hey True

In [48]:
a,b,c=6,8,5
a,b,c=c,a,b
print(a,b,c)

5 6 8

In [53]:
print(['apple']*3)
print(('blabber')*3)

['apple', 'apple', 'apple']
blabberblabberblabber

In [62]:
a=5,7,3,6,1
# b=sorted(a)
#a.sort() #no sort in tuple
b=sorted(a)
print(b)

[1, 3, 5, 6, 7]

In [57]:
p=[6,4,9,3]
p.sort()
print(p)

[3, 4, 6, 9]

In [5]:
n=[5,3,6,2]
sort(n)
print(n)

NameError: name 'sort' is not defined

In [69]:
s={1,2,3}
s.add(5)
s.update(4,5,6)
s

TypeError: 'int' object is not iterable

In [84]:
s={1,2,3}
p={3,2}
print(s.issuperset(p))
print(s.issubset(p))
print(s.isdisjoint(p))

True
False
False

In [86]:
s={1,2,3}
p={3,2}
r=s*2
r

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [99]:
n={i if i>7 else i*i*i if i<=3 else i*i for i in range(0,11)}
n

{0, 1, 8, 9, 10, 16, 25, 27, 36, 49}

In [106]:
p={x:x*x for x in range(1,6)}
p

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [104]:
p=dict(a='app',b='baby',c='cat')
for i in p:
    print(p[i])
for i,j in p.items():
    print(i,j)

app
baby
cat
a app
b baby
c cat

In [125]:
p=dict((('f',4),('three',3),('l',1),('two',2)))
print(p)
print(max(p))
print(max(p,key=p.get))
print(str(p))

{'f': 4, 'three': 3, 'l': 1, 'two': 2}
two
f
{'f': 4, 'three': 3, 'l': 1, 'two': 2}

In [129]:
p=dict((('f',4),('three',3),('l',1),('two',2)))
print(p)
if "l" in p:
    del p["l"]
print(p)

{'f': 4, 'three': 3, 'l': 1, 'two': 2}
{'f': 4, 'three': 3, 'two': 2}

In [180]:
s=dict({('a',51),('b',67),('c',64),('d',90),('e',34)})
# s={'a':5,'b':6,'c':545}
# s=dict(a=3,b=5,c=7,m=90)
# s['f']=58
s.update({'f':40})
s.update({'b':71})
s['b']=31
# del s['b']
# del s['e']
# print(s.pop('a'))
p=max(s,key=s.get)
print(p,s[p])
k=sum(s.values())/len(s)
print(k)
print(s)
v=sorted(s,key=s.get)
l={}
for i in v:
    l[i]=s[i]
l

d 90
51.666666666666664
{'d': 90, 'c': 64, 'e': 34, 'a': 51, 'b': 31, 'f': 40}

{'b': 31, 'e': 34, 'f': 40, 'a': 51, 'c': 64, 'd': 90}

In [189]:
l=[int(n) for n in input("enter numbers: ").split()]
p=[]

for i in l:
    flag=True
    for j in range(2,i):
        if i%j==0:
            flag=False
    if flag==True and i>1:
        p.append(i)
if len(p)==0:
    print("no prime")
else:
    print(p)

no prime

In [190]:
S="COMPUTER"
T="computer"
I='C'
print(I in S,
'A' in S,
S is T)

True False False

In [197]:
z=complex(2,3)
z
abs(z)
z.conjugate()
z.real
z.imag

3.0

In [211]:
a={'a':1,'b':2,'c':3}
b={'d':4,'e':5}
a={**a,**b}
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [221]:
a={1,2,3}
b={3,5,6}
a.isdisjoint(b)

False

In [222]:
a=(1,2,3,4,4,4,4)
a

(1, 2, 3, 4, 4, 4, 4)

In [225]:
p1 = tuple(int(i) for i in input("Enter first point: ").split())
p2 = tuple(int(i) for i in input("Enter second point: ").split())

distance = ((p2[0] - p1[0])**2 + (p2[1] - p1[1])**2 + (p2[2] - p1[2])**2)**(1/2)

print("Distance: ", distance)

Distance:  1.7320508075688772

In [240]:
names = [n for n in input().split()]
rolls = [int(roll) for roll in input().split()]
marks = [int(mark) for mark in input().split()]
s=[]
for i in range(0,len(names)):
    k=(names[i],rolls[i],marks[i])
    s.append(k)
s.sort(key=lambda x:x[2])
s

[('b', 2, 13), ('d', 4, 34), ('a', 1, 45), ('c', 3, 89)]

In [239]:
l=[1,23,3,24,52]
for i in l:
    print(i)

1
23
3
24
52

In [246]:
s=input("enter string: ")
d={}
for i in s:
    if i!=' ':
        if i in d:
            d[i]+=1
        else:
            d[i]=1
print(d)

{'h': 3, 'e': 2, 'y': 1, 'o': 2, 'w': 1, 'l': 2}

In [6]:
n=int(input("enter number of employees: "))
d={}
for i in range(0,n):
    name=input("enter name: ")
    salary=int(input("enter salary of {}".format(name)))
    d[name]=salary
s=list(d.keys())
p=list(d.values())
for i in range(0,len(p)-1):
    for j in range(0,len(p)-1):
        if p[j]>p[j+1]:
            s[j],s[j+1]=s[j+1],s[j]
            p[j],p[j+1]=p[j+1],p[j]
for i,j in enumerate(s,1):
    print(i," ",j," : ",d[j])

65   a  :  23
66     :  23

In [8]:
def check(passw):
    for i in passw:
        if type(i)==int:
            return True
        else:
            pass
    return False

print(int('o'))

ValueError: invalid literal for int() with base 10: 'o'

In [2]:
p=True
while p==True:
    a=int(input("enter a: "))
    o=input("enter operator: ")
    b=int(input("enter b: "))
    if(o=='+'):
        print(a+b)
    elif o=='-':
        print(a-b)
    elif o=='*':
        print(a*b)
    elif o=='/':
        if b==0:
            print('no divide by 0')
        else:
            print(a/b)
    else:
        print('Invalid operator')
    x=int(input("enter 0 to continue, 1 to exit"))
    if x==1:
        p=False

6
-3

In [13]:
d={'a':4,'b':5,'c':1,'d':7,'e':2}
d=dict(sorted(d.items(),key=lambda x: x[1]))
d

{'c': 1, 'e': 2, 'a': 4, 'b': 5, 'd': 7}

In [24]:
p=[1,2,3,4,5,6]
def isev(n):
    return n**2
p=list(map(isev,list(filter(lambda x:x%2==0,p))))
p

[4, 16, 36]

In [33]:
import pandas as pd
import numpy as np
d=pd.read_csv('AQI_Data.csv')
d['total']=np.sum(d[['PM2.5','PM10','NO2','CO','O3','SO2']],axis=1)
d.to_excel('h.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

In [42]:
import numpy as np
np.linspace(0,5,5)

array([0.  , 1.25, 2.5 , 3.75, 5.  ])

In [39]:
def do(*args,**kwargs):
    return len(args)+len(kwargs)
print(do(1,2,3,4,name='hey',age=45,sex='m'))

7

In [41]:
if __name__=='__main__':
    print('j')
else:
    print('g')

j

In [59]:
data={'a':[1,2,3],'b':{'x':4,'y':5},'c':{'p':{'q':6}}}
import pandas as pd
df=pd.DataFrame(data,index=[1,2,3])
df

   a   b   c
1  1 NaN NaN
2  2 NaN NaN
3  3 NaN NaN